<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Cinema_ProfArq -->
      <package
            uri="http://co/edu/udea/cinema_profarq/model"
            class="Cinema_ProfArq.Cinema_ProfArqPackage"
            genModel="model/Cinema_ProfArq.genmodel"/>
   </extension>

</plugin>
