# GNU/Unix
.*
!.gitignore
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Package File
*.class
*.war
*.ear

# Laboratorios
/Laboratorios/Laboratorio_1/LabUno_ProfArq/build/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/dist/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/LabUno_ProfArq-ejb/build/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/LabUno_ProfArq-ejb/dist/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/LabUno_ProfArq-war/build/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/LabUno_ProfArq-war/dist/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/LabUno_ProfArq-ejb/build/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/LabUno_ProfArq-ejb/dist/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/dist/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/build/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/LabUno_ProfArq-war/dist/
/Laboratorios/Laboratorio_1/LabUno_ProfArq/LabUno_ProfArq-war/build/

/Laboratorios/Laboratorio_5/LabCinco_ProfArq/nbproject/private/
/Laboratorios/Laboratorio_5/LabCinco_ProfArq/build/
/Laboratorios/Laboratorio_5/LabCinco_ProfArq/dist/

# RTFs
/RTFs/RTF_1/Cinema_ProfArq/nbproject/private/
/RTFs/RTF_1/Cinema_ProfArq/build/
/RTFs/RTF_1/Cinema_ProfArq/dist/
/RTFs/RTF_1/Web_Application/Cinema_ProfArq/nbproject/private/
/RTFs/RTF_1/Web_Application/Cinema_ProfArq/build/
/RTFs/RTF_1/Web_Application/Cinema_ProfArq/dist/
/RTFs/RTF_2/Cinema_ProfArq/dist/
/Laboratorios/Laboratorio_5/LabCinco_ProfArq_QoS/build/
/Laboratorios/Laboratorio_5/LabCinco_ProfArq_QoS/dist/